/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #FFC0CB, #FFB6C1);
}

img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50px;
    border: 4px solid #FFFACD;
}